In [1]:
import pandas as pd
df= pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv", sep=',')

In [2]:
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [3]:
drinks= df

In [5]:
beer= drinks.groupby('continent').beer_servings.mean()

In [7]:
beer.head()

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

In [23]:
EU= drinks.groupby('continent').beer_servings.mean()
EU.get_group('EU').head()

In [25]:
drinks.sort_values('beer_mean', ascending= False).head(1)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,beer_mean
111,Monaco,0,0,0,0.0,EU,193.777778